body{
  position: fixed;
  background-image: url(/imgs/background.jpg);
  background-repeat: no-repeat;
}

#pp-canvas{
  width: 329px;
  height: 588px;
  border: 1px solid black;
  border-collapse: collapse;
  position: fixed;
  left: 411px;
  top: 78px;
  cursor: crosshair;
}

.pp-palette{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: fixed;
}

#color-display{
  height: 39px;
  width: 16px;
  position: fixed;
  top: 467px;
  left: 292px;
  transform: skew(5deg,-5deg);
  border-radius: 30%;
}

[id='000000']{
  top: 661px;
  left: 211px;
  height: 30px;
  width: 30px;
}

[id='FF0000']{
  top: 599px;
  left: 334px;
}

[id='FF2900']{
  top: 599px;
  left: 358px;
}

[id='FF5200']{
  top: 610px;
  left: 377px;
}

[id='FF7C00']{
  top: 625px;
  left: 359px;
}

[id='FFA500']{
  top: 638px;
  left: 340px;
}

[id='FFBC00']{
  top: 654px;
  left: 320px;
}

[id='FFD200']{
  top: 666px;
  left: 298px;
}

[id='FFE800']{
  top: 676px;
  left: 278px;
}

[id='FFFF00']{
  top: 685px;
  left: 254px;
}

[id='C0E000']{
  top: 698px;
  left: 226px;
}

[id='80C000']{
  top: 709px;
  left: 199px;
}

[id='40A000']{
  top: 716px;
  left: 178px;
}

[id='008000']{
  top: 725px;
  left: 154px;
}

[id='408040']{
  top: 727px;
  left: 131px;
}

[id='004080']{
  top: 729px;
  left: 110px;
}

[id='0020C0']{
  top: 730px;
  left: 88px;
}

[id='0000FF']{
  top: 707px;
  left: 90px;
}

[id='2000E0']{
  top: 690px;
  left: 106px;
}

[id='4000C0']{
  top: 675px;
  left: 125px;
}

[id='6000A0']{
  top: 663px;
  left: 146px;
}

[id='800080']{
  top: 652px;
  left: 166px;
}

[id='A00060']{
  top: 643px;
  left: 187px;
}

[id='C00040']{
  top: 631px;
  left: 209px;
}

[id='E00020']{
  top: 625px;
  left: 231px;
}

.pp-button{
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  position: fixed;
}

#draw{
  left: 100px;
  top: 45px;
}

#rectangle{
  left: 40px;
  top: 45px;
}

#clear{
  left: 40px;
  top: 160px;
}

#erase{
  left: 100px;
  top: 160px;
}

#fill{
  left: 40px;
  top: 100px;
}


#save{
  left: 100px;
  top: 100px;
}

/*#load{
  left: 40px;
  top: 100px;
}*/

#left{
  width: 405px;
  height: 750px;
  float: left;
}

#right{
  width: 60px;
  height: 750px;
  position: fixed;
  float: left;
  left: 740px;
}

#top{
  width: 350px;
  height: 70px;
  position: fixed;
  float: left;
  left: 400px;
}

#bottom{
  width: 350px;
  height: 70px;
  position: fixed;
  float: left;
  left: 400px;
  top: 664px;
}